body {
    font-family: 'Montserrat', sans-serif;
}

.container  {
    max-width: 1143px;
    margin: 0 auto;
}

.header {
    padding-top: 31px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 57.6%;
    
}

.header-nav {
    display: flex;
    gap: 54px;
    list-style-type: none;
    
}

.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 97px;
    height: 30px;
}





.header-nav a {
    text-decoration: none;
    color: #2B3541;
    font-size: 18px;
    font-weight: 400;
    
}



.header-links {
    margin-top: 1px;
    display: flex;
    margin-right: 2px;
}

.header-links .link-icon:nth-child(2) {
    margin-left: 30px;
}



.header-links .link-icon {
    padding: 0;
    border: 0;
    background-color: transparent;
}


.content {
    position: relative;
}

.content .container {
    display: flex;
    height: 852px; 
}

.content-box {
    padding-top: 183px;
}

.content-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 3%;
    color: #2B3541;
    max-width: 676px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.content-title span {
    display: block;
    font-size: 40px;
    font-weight: 400;
    text-transform: none;
    margin-top: 37px;
}

.content-block {
    margin-left: 93px;
    margin-top: 7px;
}

.content-description {
    font-size: 18px;
    line-height: 25px;
    color: #2B3541;
    max-width: 297px;
    margin-bottom: 37px;
}


.button {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 23px 30px;
    color: #2B3541;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border: none;
    text-transform: uppercase;
    margin-left: 0;
    cursor: pointer;
    
}



.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    
}

.visual-bg {
    width: 464px;
    height: 100%;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    
}

.visual img {
    position: absolute;
    right: 171px;
    top: 37px;
}

.content-arrow {
    display: block;
    height: 55px;
    width: 52px;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
}





.title {
    font-size: 40px;
    font-weight: 700;
    color: #2B3541;
}

.promo {
    margin-top: 158px;
    
}

.promo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 41px;
    position: relative;

}



.promo-grid-cover {
    padding-top: 15px;
    padding-left: 30px;
    height: 584px;
    width: 337px;
    background-image: url(../images/@2x/maraphon@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    
   
    
}




.promo-grid-date {
    font-weight: 700;
    font-size: 18px;
    color: #2B3541;
    opacity: 0.6;
    margin-bottom: 0;
}

.promo-grid-title {
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    color: #2B3541;
    margin-top: 22px;
    max-width: 260px;
    
}

.promo-grid-description {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 13px 21px;
    background-color: #FBF138;
    color: #2B3541;
    font-size: 18px;
    margin-bottom: 0;
}


.promo-grid-cover-second {
    background-image: url(../images/@2x/Vebinar1-2x.png);
}

.promo-grid-cover-thrid {
    background-image: url(../images/@2x/Vebinar2-2x.png);
}

/*.promo-grid-cover .button {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 23px 48px;
    color: #FBF138;
    background-color: #2B3541;
    margin-top: 11px;
    box-shadow: none;
    display: block;
    cursor: pointer;
}*/


.promo-grid-cover-bg {
    position: absolute;
    height: 584px;
    width: 367px;
    z-index: 1;
    left: 0px;
    top: 0px;
    

}





.promo-grid-cover-bg {
    position: absolute;
    height: 584px;
    width: 367px;
    z-index: 1;
    left: 0px;
    top: 0px;
    
}

.promo-grid-cover .button {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 23px 48px;
    color: #FBF138;
    background-color: #2B3541;
    margin-top: 11px;
    box-shadow: none;
    opacity: 6;
    
    cursor: pointer;
    position: absolute;
    top: 165px;
    left: 31px;
    z-index: 2;
    display: none;
   
}

.promo-grid-cover:hover .button {
    display: block;
    z-index: 2;
    position: absolute;
}

.promo-grid-cover:hover .promo-grid-cover-bg {
        background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
        opacity: 0.3;
    }




.table {
    padding-top: 157px;
    padding-bottom: 163px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-header .title {
    width: 356px;
}

.table-date {
    color: #2B3541;
    font-size: 28px;
    font-weight: 700;
}




.table-grid-item:nth-child(1) {
    grid-area: a;
    height: 309px;
}

.table-grid-item:nth-child(2) {
    grid-area: b;
    height: 402px;
}

.table-grid-item:nth-child(3) {
    grid-area: c;
}

.table-grid-item:nth-child(4) {
    grid-area: d;
    height: 374px;
}

.table-grid-item:nth-child(5) {
    grid-area: e;
    height: 281px;
}

.table-grid-item:nth-child(6) {
    grid-area: f;
    height: 374px;
}

.table-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    gap: 20px;
    grid-template-areas: "a b c"
                        "d b f"
                        "d e f"; 
    
}





.table-grid-item {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    /*height: 309px;*/
    border: 1px solid #2B3541;
    padding: 23px 29px;
    padding-bottom: 40px;
}

.table-grid-item:hover {
    border: none;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    padding: 24px 30px;
}


.table-grid-item:hover .table-grid-box {
    bottom: 21px;
    
}


.table-grid-date {
    float: right;
    color: #010101;
    font-size: 18px;
    opacity: 0.6;
    margin-top: 0;
}

.table-grid-box {
    position: absolute;
    /*margin-top: 75px;*/
    margin-left: 2px;
    bottom: 20px;
    
}



.grid-table-description {
    margin-top: 37px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    color: #2B3541;
}



/*.table-grid-box {
    margin-left: 30px;
    margin-bottom: 20px;
}*/


.subscription {
    position: relative;
    padding-top: 46px;
    padding-bottom: 118px;
    margin: 0 auto;
    display: flex;
    background-color: #F3F3F3;
    z-index: -1;
    
}

.subscription_content {
    position: relative;
    
    
}

.yellow_circle {
    position: absolute;
    z-index: -1;
    height: 53px;
    width: 53px;
    background-color: #FBF138;
    border-radius: 50%;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    top: -18px;
    left: -7px;
    
}

.subscription_content .title {
    margin-left: 25px;
}



.email {
    margin-left: 17px;
    margin-top: 7px;
    width: 350px;
    height: 65px;
    border: none;
    padding-left: 19px;
    color: #2B3541;
    font-size: 18px;
    font-family: 'Montserrat';
    
    
}

.email::placeholder {
    opacity: 0.3;
}

.subscription .button {
    margin-left: 20px;
    padding: 24px 42px;
}



.agreement {
    margin-top: 15px;
    margin-left: 17px;
    color: #2B3541;
    font-weight: 400;
    font-size: 11px;
  
}

.agreement a {
    color: #2B3541;
}

.checkbox:checked,
.checkbox:not(:checked) {
    position: absolute;
    left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
    position: relative;
    padding-left: 25px;
    cursor:pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before   {
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: #2B3541;
    border-radius: 2px;
    border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after    {
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 1;
    left: 4px;
    top: calc(50% - 6px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before {
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after  {
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 0;
    left: 4px;
    top: calc(50% - 6px);
    background-position: 0 -12px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
.radio:checked + label::before  {
    border-radius: 100%;
}
