body {
    font-family: 'Montserrat', sans-serif;
}

.container  {
    max-width: 1143px;
    margin: 0 auto;
}

.header {
    padding-top: 31px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 57.6%;
    
}

.header-nav {
    display: flex;
    gap: 54px;
    list-style-type: none;
    
}

.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 97px;
    height: 30px;
}





.header-nav a {
    text-decoration: none;
    color: #2B3541;
    font-size: 18px;
    font-weight: 400;
    
}



.header-links {
    margin-top: 1px;
    display: flex;
    margin-right: 2px;
}

.header-links .link-icon:nth-child(2) {
    margin-left: 30px;
}



.header-links .link-icon {
    padding: 0;
    border: 0;
    background-color: transparent;
}


.content {
    position: relative;
}

.content .container {
    display: flex;
    height: 852px; 
}

.content-box {
    padding-top: 183px;
}

.content-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 3%;
    color: #2B3541;
    max-width: 676px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.content-title span {
    display: block;
    font-size: 40px;
    font-weight: 400;
    text-transform: none;
    margin-top: 37px;
}

.content-block {
    margin-left: 93px;
    margin-top: 7px;
}

.content-description {
    font-size: 18px;
    line-height: 25px;
    color: #2B3541;
    max-width: 297px;
    margin-bottom: 37px;
}


.button {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 23px 30px;
    color: #2B3541;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border: none;
    text-transform: uppercase;
    margin-left: 0;
    cursor: pointer;
    
}



.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    
}

.visual-bg {
    width: 464px;
    height: 100%;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    
}

.visual img {
    position: absolute;
    right: 171px;
    top: 37px;
}

.content-arrow {
    display: block;
    height: 55px;
    width: 52px;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
}